examples/complete-workflow-v1.0.3.json
{
  "name": "Infisical Integration Examples v1.0.3",
  "nodes": [
    {
      "parameters": {},
      "id": "start-node",
      "name": "Start",
      "type": "n8n-nodes-base.start",
      "typeVersion": 1,
      "position": [
        240,
        300
      ]
    },
    {
      "parameters": {
        "serviceName": "c4c_emea_qa_account",
        "secretPath": "/"
      },
      "id": "infisical-json-example",
      "name": "Get JSON Credentials",
      "type": "n8n-nodes-infisical.infisical",
      "typeVersion": 1,
      "position": [
        440,
        200
      ],
      "credentials": {
        "infisicalApi": {
          "id": "infisical-prod-v103",
          "name": "Infisical Production v1.0.3"
        }
      }
    },
    {
      "parameters": {
        "serviceName": "my-super-super-secret",
        "secretPath": "/"
      },
      "id": "infisical-simple-example",
      "name": "Get Simple Secret",
      "type": "n8n-nodes-infisical.infisical",
      "typeVersion": 1,
      "position": [
        440,
        400
      ],
      "credentials": {
        "infisicalApi": {
          "id": "infisical-prod-v103",
          "name": "Infisical Production v1.0.3"
        }
      }
    },
    {
      "parameters": {
        "serviceName": "database",
        "secretPath": "/"
      },
      "id": "infisical-fallback-example", 
      "name": "Get DB Config (Fallback)",
      "type": "n8n-nodes-infisical.infisical",
      "typeVersion": 1,
      "position": [
        440,
        600
      ],
      "credentials": {
        "infisicalApi": {
          "id": "infisical-prod-v103",
          "name": "Infisical Production v1.0.3"
        }
      }
    },
    {
      "parameters": {
        "url": "https://api.c4c.example.com/login",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "httpBasicAuth": {
          "user": "={{$node['Get JSON Credentials'].json.username}}",
          "password": "={{$node['Get JSON Credentials'].json.password}}"
        },
        "options": {}
      },
      "id": "http-json-example",
      "name": "Use JSON Credentials",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        640,
        200
      ]
    },
    {
      "parameters": {
        "url": "https://api.example.com/data",
        "headers": {
          "Authorization": "Bearer ={{$node['Get Simple Secret'].json['my-super-super-secret']}}"
        },
        "options": {}
      },
      "id": "http-simple-example",
      "name": "Use Simple Secret",
      "type": "n8n-nodes-base.httpRequest", 
      "typeVersion": 4,
      "position": [
        640,
        400
      ]
    },
    {
      "parameters": {
        "host": "={{$node['Get DB Config (Fallback)'].json.host}}",
        "port": "={{$node['Get DB Config (Fallback)'].json.port}}",
        "database": "={{$node['Get DB Config (Fallback)'].json.database}}",
        "user": "={{$node['Get DB Config (Fallback)'].json.username}}",
        "password": "={{$node['Get DB Config (Fallback)'].json.password}}",
        "operation": "select",
        "query": "SELECT COUNT(*) as user_count FROM users"
      },
      "id": "postgres-fallback-example",
      "name": "Connect to Database",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [
        640,
        600
      ]
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "id": "merge-results",
      "name": "Merge Results",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2,
      "position": [
        840,
        400
      ]
    },
    {
      "parameters": {
        "jsCode": "// Example of processing Infisical secrets in JavaScript\n\n// Access JSON credentials from first input\nconst jsonCreds = $input.first().json;\nconsole.log('JSON Credentials:', {\n  username: jsonCreds.username,\n  hasPassword: !!jsonCreds.password\n});\n\n// Access simple secret from second input  \nconst simpleSecret = $input.all()[1].json;\nconsole.log('Simple Secret:', {\n  secretName: Object.keys(simpleSecret)[0],\n  secretLength: Object.values(simpleSecret)[0].length\n});\n\n// Access database config from third input\nconst dbConfig = $input.all()[2].json;\nconsole.log('Database Config:', {\n  host: dbConfig.host,\n  port: dbConfig.port,\n  ssl: dbConfig.ssl || false\n});\n\n// Return processed data\nreturn {\n  json: {\n    timestamp: new Date().toISOString(),\n    secrets_processed: 3,\n    json_credentials_found: !!jsonCreds.username,\n    simple_secret_found: Object.keys(simpleSecret).length > 0,\n    database_config_found: !!dbConfig.host,\n    infisical_version: '1.0.3',\n    retrieval_method: 'direct_getSecret'\n  }\n};"
      },
      "id": "process-secrets",
      "name": "Process All Secrets",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1040,
        400
      ]
    }
  ],
  "connections": {
    "Start": {
      "main": [
        [
          {
            "node": "Get JSON Credentials",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get Simple Secret", 
            "type": "main",
            "index": 0
          },
          {
            "node": "Get DB Config (Fallback)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get JSON Credentials": {
      "main": [
        [
          {
            "node": "Use JSON Credentials",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge Results",
            "type": "main", 
            "index": 0
          }
        ]
      ]
    },
    "Get Simple Secret": {
      "main": [
        [
          {
            "node": "Use Simple Secret",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge Results",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Get DB Config (Fallback)": {
      "main": [
        [
          {
            "node": "Connect to Database",
            "type": "main", 
            "index": 0
          },
          {
            "node": "Merge Results",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Merge Results": {
      "main": [
        [
          {
            "node": "Process All Secrets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "id": "infisical-v103", 
      "name": "Infisical v1.0.3"
    },
    {
      "id": "secrets-management",
      "name": "Secrets Management"
    },
    {
      "id": "direct-retrieval",
      "name": "Direct Retrieval"
    }
  ],
  "triggerCount": 1,
  "updatedAt": "2025-10-13T14:00:00.000Z",
  "versionId": "1.0.3-example"
}